option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: "production"
    DATABASE_URL: "postgresql://saurellius_admin:UltraVision2025!@saurellius-db-prod.c45s6umsu2vp.us-east-1.rds.amazonaws.com:5432/saurellius_production"
    JWT_SECRET_KEY: "96563de5e219b8807039f86eba7fb5d08e562613c333c6c7505f864bec26125cc340c9fa4532cbaae54ca3c469915a5eda82ffa5ccd09d251985c11a89ee1c86"
    ENCRYPTION_KEY: "1RZqbRhIodasJbXcQaXPTz_wZi-GqjGuuJtYkQ9dGYw="
    S3_BUCKET: "saurellius-paystubs-prod"

