packages:
  yum:
    pango: []
    cairo: []
    libffi-devel: []
    cairo-devel: []
    pango-devel: []
    libxml2-devel: []
    libxslt-devel: []
    python3-devel: []
    # Additional packages often required for WeasyPrint on Amazon Linux 2
    libjpeg-turbo-devel: []
    zlib-devel: []
    giflib-devel: []
    openjpeg-devel: []
    lcms2-devel: []
    freetype-devel: []
    libwebp-devel: []
    libtiff-devel: []
    harfbuzz-devel: []
    fribidi-devel: []
    gobject-introspection: []
    gtk3: []
    gtk3-devel: []
    gdk-pixbuf2-devel: []
